.button {
    min-width: 180px;
    height: 50px;
    padding: 0 20px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    background: $darkviolet;
    color: $white;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    transition: transform 0.3s;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: $box-shadows-btn;
  
    // Hover par défaut
    &:hover {
      color: $white;
      transform: scale(1.1);
  
      &::after {
        background-color: $black;
      }
    }
  
    &::after {
      content: "";
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      z-index: -1;
      border-radius: 10px;
      transition: opacity 250ms;

    }
  
    // ✅ Variante secondaire
    &.btn-secondary {
      background-color: $darkviolet;
      color: $white;
      text-decoration: none;
  
      &:hover {
        background-color: $black;
        color: $white;
  
        &::after {
          background-color: transparent;
        }
      }
    }
  }

  .button-dark-background{
    box-shadow: $box-shadows-btn-dark-background;
        // Hover par défaut
    &:hover {
      color: $white;
      transform: scale(1.1);
  
      &::after {
        background-color: $green;
      }
    }

  }
  