/*Card__service*/
.container__card{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background: $linearGradient3;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 50px;
    border-radius: 20px;
    width: 80%;

    @include mobile {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
}
/*.card-link {
    text-decoration: none;
    width: 30%;

    @include mobile {
        width: 300px;
    }
  }
*/  
.card {
    display: flex;
    flex-direction: column;

    background: $darkviolet;
    box-shadow: $box-shadows;
    border-radius: 10px;
    transition: transform 0.3s;
    width: 30%;
    opacity: 1;

    @include mobile{
        width: 100%;
    }
    &:hover{
        transform: scale(1.05);
    }
    
    /*img{
        display: none;
        width: 0;
    }*/

    /*&__image {
        width: 100%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;

        @include mobile {
            height: 150px;
            width: 300px;
        }
    }*/

    &__content {
        display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
        text-align: center;
        padding: 10px;
        color: $green;

        &-prestation{
            text-align: left;
            ul{

                padding: 0;
            }
            li{
                display: flex;
                align-items: flex-start;
                list-style: none;
                margin: 10px 0;
                div{
                    width: 20px;
                    .icon-check{
                        opacity: 1;
                    }
                    .icon-times{
                        color: $violet;
                        opacity: 1;
                    }
            }   
                p{
                    width: 80%;
                    opacity: 0.45;
                     margin: 0;
                     text-align: left;
                };
            }
        }

        &-price{
            p {
                color: $green;
                font-weight: bold;
                opacity: 1;

                @include mobile {
                    margin: 0;
                }
            }
        }   
    }
    
}

.card__content-img{
    width: 100%;
}

.card-link{
    width: 100%;
    text-decoration: none;
    .card{
        width: 100%;
        height: 100%;
    }
}
