.gallery-section {
    text-align: center;
    width: 90%;
  }
  
  .gallery-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    @include tablet{

      flex-direction: column-reverse;
      margin-top: 30px;
    }
  }
  
  .project-image {
    position: relative;
    flex: 1;
  }
  
  .project-image img {
    max-width: 100%;
    height: auto;
  }

  
  .project-image figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    right: 0;
    background-color: rgba(45, 45, 45, 0.455);

    color: white;
    font-weight: bold;
    padding: 5px 10px;

    font-size: 14px;

    @include mobile{
      bottom: 5px;
      width: calc(100% - 20px);
      height: 40px;

      

    }
  }
  
  