.gallery-section {
    padding: 50px 0;
    text-align: center;
  }
  
  .gallery-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  
  .project-image {
    position: relative;
    flex: 1;
  }
  
  .project-image img {
    max-width: 100%;
    height: auto;
  }

  
  .project-image figcaption {
    position: absolute;
    bottom: 20px;
    right: 0;
    background-color: rgba(45, 45, 45, 0.455);

    color: white;
    font-weight: bold;
    padding: 5px 10px;

    font-size: 14px;
  }
  
  