.header__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 24px;
        margin-left: 20px;

        p {
            margin: 0 ;
            opacity: 1;
        }

        p:first-child {
            font-family: 'Oleo Script', cursive;
            color: $pink;
            font-size: 36px;
        }
    }
}

.logo {
    margin: 10px 0 0 30px ;
    height: 50px;

    @include mobile {
        margin: 0 0 0 20px   
    }
 }


 .header__contact-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

 }

.header__contact{
    background: $linearGradient;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;

     @include mobile {
        width: calc(100% - 20px);
        margin: 0;
        padding: 10px;
    }

    &-details {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @include tablet {
            flex-direction: column;
            align-items: flex-start;
            gap: 0;
        }

        a {
            justify-content: flex-end;
            align-items: center;
            text-decoration: none;
            display: flex;
            color: $green;
            gap: 10px;

            &:hover {
                color: $pink;
                transform: scale(1.10);
            }

             @include mobile {
                 color: $green;
            }
        }
    }

    &-media {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;

        @include tablet {
            justify-content: flex-end;
            align-items: flex-start;
        }

        a {
            color: $green;
            transition: transform 0.3s;

            @include mobile {
                 color: $green;
            }

            &:hover {
                color: $pink;
                transform: scale(1.30);
            }
        }
    }
}