.newsletter-form {
  background: $green;
  text-align: center;
  width: 100%;

  h2 {
    margin: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 50px;

    .form-group {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      width: 100%;
      justify-content: space-between;
    }

    input {
      // padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      height: 40px;
    }

    .success-message {
      color: $green;
      font-weight: bold;
    }

    .form-group-name {
      width: 47%;
      height: 40px;
    }
  }
}

// 🟢 Version mobile
@include mobile {
  .newsletter-form {
    h2 {
      margin: 0;
    }

    form {
      margin: 0;

      .form-group {
        flex-direction: column;
      }

      input {
        width: 90%;
      }

      .form-group-name {
        width: 100%;
      }
    }
  }
}
