
  
  .container__projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0;
    width: 80%;
    gap: 20px;

    @include mobile {
      width: 90%;
    }
  }

  .projet__card {
    cursor: pointer;
    background: $linearGradient;
    box-shadow: $box-shadows-hover;
    width: 45%;
    height: auto;
    border-radius: 10px;
    margin-right: 10px;
    transition: transform 0.3s ease;

    @include mobile {
      width: 100%;
      margin-right: 0;

    }
  
    &:hover {
      transform: scale(1.05);
    }
  
    img {
      width: 100%;
      height: 260px;
      border-radius: 10px 10px 0 0;
    }
  
    &-title{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 20px;
      color: $green;
      
      border-radius: 5px;
      height: 50px;
      font-size: 16px;
      font-weight: 400;
    }
  
    p {
      font-size: 14px;
      color: #666;
    }
  }
  
  .project__details-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

/*    @include mobile{
      padding: 20px;
      width: calc(100% - 40px);
    }*/
  }
  
  .project__details-content {
    background: $darkviolet;
    padding: 40px;
    border-radius: 8px;
    position: relative;
    max-width: 800px;
    width: fit-content;
    height: 500px;
  
    .project__details-img{
      height: 500px;
      max-width: 100%;
      margin-bottom: 20px;

      @include mobile{
        height: 260px;
        width: auto;
      }
    }

    h3 {
      font-size: 18px;
      color: $green;
    } 

    p{
      color: #ADD9CC;
    opacity: 0.45;
    font-size: 14px;
    text-align: left;
    }
  }
  
  .slick-slider{
    @include mobile{
      width: 300px;
    }
  }

.slick-slider{
  div{
    div{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}





