#process {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;

  @include mobile {
    flex-direction: column-reverse;
  }

  span{
    width: 500px;
    background: $linearGradient4;
    border-radius: 170% 70%;
    /* position: relative; */
    height: 290px;
    position: relative;
    top: 40px;

    @include mobile{
      width: 300px;
      height: 190px;
    }
  }
  
  img{
    width: 100%;
    position: relative;
    bottom: 70px;

    @include mobile{
      bottom: 20px;
    }
  }
}
  .process__container {
    margin-top: 50px;
    width: 60%;
    //background: $darkgreen;
    border-radius: 10px;
  
    @include mobile{
      width: 90%;
    }
  }
    
  
    .process__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      margin: 20px;
      gap: 20pw;
      color: $violet;
      border-radius: 5px;

      &-title{
        display: flex;
        width: calc(100% - 40px);
        height: 40px;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        h3{
          font-weight: 400;
        }
      }

      &-text{
        text-align: left;
        width: calc(100% - 140px);
        border-radius: 0 0 5px 5px;
        opacity: 0.4;
        color: $violet;
        margin: 10px 0 0 90px; 

        p{
          opacity: 1;
          text-align: left;
          margin: 0;
        }
      }
    }



.process__card-icon{
  font-size: 25px;
  width: 40px;
}

.card__title-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
