
.link-bold {
    text-decoration: none;
    font-weight: 800;
    color: $darkgreen;

    &:hover{
        color: $pink;
    }
}

.apropos__container{
//    width: 80%;
    margin: 0 20px;
    display: flex;
    justify-content: center;

    @include mobile{
        flex-direction: column;
    }

    &-img{


        img{
            width: 300px;
            height: 100%;
            opacity: 0.9;

            @include mobile{
                width: 100%;
            }
        }
    }

    &-text{
        color: $darkgreen;
        margin-left: 20px;

        @include mobile {
            margin-left: 0;
        }
    }
}

.home{
    display: flex;
    flex-direction: row;
    background: $linearGradient5;
    //padding: 0 50px;
    //height: 300px;
    margin: 0 0 50px 0;

    @include tablet {
        margin: 180px 0 0 0;
    }

    @include mobile {
        flex-direction: column;
        padding: 0;
        height: 100%;
        margin-top: 120px;
    }
    img{
        height: 500px;
        margin: 20px;
        //position: relative;
        //bottom: 100px;

        @include tablet{
            max-height: 380px;
            bottom: 150px;
        }

        @include mobile{
            margin-top: 50px;
            max-height: 300px;
            bottom: 140px;
        }
    }

    &__services{

        p{
            margin: 10px 0;
            text-align: left;
            width: 100%;
        }

        @include tablet{
            margin-top: 50px;
        }

        @include mobile{
            margin-top: 120px;
        padding: 10px;    
    }
    }

    &__apropos{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $green;

        @include tablet{
            margin-bottom: 50px;
        }

        @include mobile {
            margin: 0 0 30px 0;
            //position: relative;
            //bottom: 100px;
        }

        h2{
            margin: 0 0 30px 0;
            color: $white;
            opacity: 0.9;

            @include mobile{
                margin: 0;
            }

            @include tablet{
                margin:0 0 10px 0;
            }
        }

        p{
            margin: 10px 50px 10px 50px;
            width: 80%;
            color: $white;
            opacity: 0.9;

            @include tablet {
                font-size: 16px;
            }

            @include mobile{
                margin: 10px 0;
            }

            &:last-of-type {
                margin-bottom: 30px;
            }
        }
    }
}



  /*Label Marque*/
  .container__label{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    img{
        width: 200px;
        padding: 20px;
        transition: transform 0.3s ;
        &:hover {
            transform: scale(1.10);
        }

        @include mobile{
            width: 100px;
        }
    }
}

//Style section Blog
.home-blog {
    padding: 60px 0;
    background-color: $green;
    text-align: center;

    h2{
        color: $white;
    }

    &__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px;
      gap: 30px;
    }
  
    &__card {
        display: flex;
        align-items: center;
      background-color: $white;
      border-radius: 16px;
      overflow: hidden;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      width: 30%;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: transform 0.3s ease;
      padding: 0 0 10px 0;

      @include mobile {
        width: 100%;
      }
  
      &:hover {
        transform: translateY(-5px);
      }
  
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
  
      h3 {
        font-size: 20px;
        color: $darkviolet;
        padding: 16px;
        margin: 0;

        a{
            text-decoration: none;
            color: $darkviolet;
        }
      }
  
      p {
        font-size: 14px;
        color: $black;
        line-height: 1.5; 
        margin: 0 10px 20px 10px;
        height: 200px;
      }
  
      .btn {
        align-self: center;
        //margin: 0 16px 16px;
        margin-bottom: 30px;
      }
    }
  

  }


  

.home__cible {
    background: $green;
    -ms-scroll-limit-x-min: 80%;
    width: 100%;
    padding: 20px 0;
    margin-top: 200px;
    color: $white;

    @include mobile{
        margin-top: 250px;
    }

    h2{
        color: $white;
    }
}

.home__cta-final{
    width: 100%;
    background: $green;
    color: $white;
    margin: 0;
    padding: 50px;
    @include mobile{
        width: calc(100% - 100px);
    }

    p{
        margin: 30px 0 50px 0;
    }

    h2{
        color: $white;
        text-align: left;
    }
}

.offre{
    &__artisan{
        display: flex;

        @include mobile{
            flex-direction: column;
            align-items: center;

        }
    }
}