  /*Label Marque*/
  .container__label{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .label{
        width: 200px;
        padding: 20px;
        transition: transform 0.3s ;
        &:hover {
            transform: scale(1.10);
        }

        img{
            width: 100%;
            height: auto;
        }
    }
}

.link-bold {
    text-decoration: none;
    font-weight: 800;
    color: $darkgreen;

    &:hover{
        color: $pink;
    }
}

.apropos__container{
    width: 80%;
    display: flex;
    justify-content: center;
    //background: linear-gradient(to bottom right, lighten($darkviolet, 5), lighten($darkgreen, 5));

    &-img{

        margin: 20px;

        img{
            width: 300px;
        }
    }

    &-text{
        color: $green;
    }
}

#service {
    background: $linearGradient;
}

#nosProjets  {
    background: $darkgreen
}


.projet__card-title{
    color: $green;
}
.projet__card-text{
    color: $violet;
}