.quisuisje{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;

    @include mobile{
        margin-top: 250px;
    }

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-div{
            display: flex;

            @include mobile{
                flex-direction: column;
            }
            img{
                width: 30%;

                @include mobile{
                    width: 100%;
                }
            }
        }
    }
}

.quisuisje__container-text{
    width: 60%;

    @include mobile{
        width: 100%;
    }
}
.timeline-cycle{
    width: 80%;
}
.expertise__container{
    display: flex;
    flex-direction: row;
    gap: 20px;

    @include mobile{
        flex-direction: column;
    }
    
}
.expertise__item{
    display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mobile{
    width: 100%;
  }
}

.expertise__img{
    margin: 20px 0;
    width: 100px;
}

.container__processus{
    margin: 20px;
}

.banner__img-apropos{
    object-position: 30% center;
}