.featured-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  max-width: 40%;
  height: auto;
  border-radius: 8px;
}

.wp-block-heading{
  color: $darkviolet;
  justify-content: flex-start;
}

.wp-block-list{
  margin: 0 30px;
}

.wp-baniere-video{

max-width: 500px;
}



  