.container-blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 40px 0;
}

.blog__card{
    display: flex;
    flex-direction: row;
    width: 80%;
    //height: 350px;

    @include tablet{
        flex-direction: column;
        height: 100%;
    }

    &-img{
        width: 100%;

        @include tablet{
            width: 100%;
        }
    }
    
    &-content{
        //background-color: $green;
        width: 100%;
        //padding: 20px;
        .blog__card-title{
            font-size: 24px;
            text-align: left;
            font-weight: bold;
            margin: 20px;
            width: 80%;
            color: $black;
        }
        .blog__card-text{
           color: $white;
            margin: 20px;

           p{
            margin: 0;
            color: $black;
           }
        }
    }
}

.blog__card-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    background-color: $pink;
    width: 200px;
    padding: 10px;
    color: $darkgreen;
    font-weight: bold;
    font-size: 12px;

    @include tablet{

    }
}

.blog_filters{
    height: 40px;
    background: $green;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 80%;
    }


.pagination{
    span{
        margin: 20px;
    }
}

.blog__card-link{
    button{
        margin: 20px;
    }
}