.container-blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 40px 0;
}

.blog__card{
    display: flex;
    flex-direction: row;
    width: 80%;
    //height: 350px;

    @include tablet{
        flex-direction: column;
        height: 100%;
    }

    &-img{
        width: 60%;

        @include tablet{
            width: 100%;
        }
    }
    
    &-content{
        //background-color: $green;
        width: 100%;
        //padding: 20px;
        .blog__card-title{
            font-size: 24px;
            text-align: left;
            font-weight: bold;
            margin: 20px;
            width: 80%;
            color: $black;

            @include tablet{
                margin: 0;
            }
        }
        .blog__card-text{
           color: $white;
            margin: 20px;

            @include tablet{
                margin: 20px 0;
            }

           p{
            margin: 0;
            color: $black;
           }
        }
    }
}

.blog__card-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    background-color: $pink;
    width: 200px;
    padding: 10px;
    color: $darkgreen;
    font-weight: bold;
    font-size: 12px;

    @include tablet{
        margin: 20px 0;
    }
}

.blog_filters{
    height: 40px;
    background: $green;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 80%;

    @include tablet{
        position: relative;
        top: 20px;
    }
    }


.pagination{
    span{
        margin: 20px;
    }

    &-button{
        @include tablet{
            width: 100px;
        }
    }
}

.blog__card-link{
    button{
        margin: 20px;
    }
}

//Style gallerie
.wp-block-gallery {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
  }
  
  .wp-block-gallery.columns-2 > .wp-block-image {
    flex: 1 1 45%;
    max-width: 500px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }
  
  .wp-block-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .wp-block-image img:hover {
    transform: scale(1.03);
  }
  