/* Roboto local, ultra optimisé */

/* Roboto Regular */
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  /* Roboto Italic */
  @font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  /* Roboto Bold */
  @font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  /* Roboto Bold Italic */
  @font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  