//breakpoints
$breakpoints: (
  mobile: 768px,
  tablet: 1024px,
  desktop: 1200px,
);

//Colors
$green: #ADD9CC;
$darkgreen: #1E2B3B;
//$darkgreen: #15133D;
$darkviolet: #3E0947;
$violet: #A54DA9;
$pink: #E099A0;


$box-shadows: 0px 0px 5px $violet;
$box-shadows-hover: 0px 0px 5px $violet;
$box-shadow-card: 0px 4px 6px $darkgreen;
/*$box-shadows-hover: 0px 5px 10px rgb(226, 230, 173);*/

